body{
    height: 100%;
}

html{
    height: 100%;
    overflow-y: scroll;
    background-color: whitesmoke;
}

#wrap{
    height: 100%;
    background-color: whitesmoke;
}

#main{
    background-color: whitesmoke;
    overflow: auto;
    min-height: 100%;
}

footer{
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    color: whitesmoke;
}

.modal-backdrop{
    display: none;
}

.modal-open[style] {
    padding-right: 0px !important;
    }

@media (max-width: 600px){
    footer{
        font-size: 5vw;
    }
}